<% content_for :title, "Reboot" %>
<% content_for :page, "signin" %>

<div class="signin-page">
  <img src="/images/signin/hackclub.svg" class="signin-flag" alt="Hack Club 2025">
  
  <div class="signin-content">
    <img src="/images/signin/crane-text.png" class="signin-crane-text" alt="Reboot">
    
    <p class="signin-subtitle">Restore old projects --> upgrade your desktop setup!</p>
    
    <%= form_tag("/auth/hack_club", method: :post) do %>
      <button type="submit" class="signin-btn">Start Now</button>
    <% end %>
  </div>

  <img src="/images/signin/animal.png" class="signin-mole" alt="Mole">
</div>
