<% content_for :title, "Reboot" %>
<% content_for :page, "signin" %>

<div class="signin-page">
  <a href="https://hackclub.com/" target="_blank" rel="noopener">
    <img src="/images/signin/hackclub.svg" class="signin-flag" alt="Hack Club 2025">
  </a>
  
  <div class="signin-content">
    <img src="https://files.slack.com/files-pri/T09V59WQY1E-F0A6XFGE0M9/img_2185.png?pub_secret=1776d88b52" class="signin-crane-text" alt="Reboot">
    
    <%= form_tag("/auth/hack_club", method: :post) do %>
      <button type="submit" class="signin-btn" style="background: transparent; padding: 0; box-shadow: none; border: none;">
        <img
          src="https://files.slack.com/files-pri/T09V59WQY1E-F0A7999BL3T/startbutton.png?pub_secret=346938b95a"
          alt="Start Now"
          class="signin-start-img"
          onerror="this.onerror=null;this.src='/img/signin/startButton.PNG';"
        >
      </button>
    <% end %>
    
    <p class="signin-subtitle">Restore old projects --> upgrade your desktop setup!</p>
  </div>

  <!-- Corner images now handled globally in layout -->
</div>
